POSTGRES_USER=exampleuser
POSTGRES_PASSWORD=examplepass
POSTGRES_DB=exampledb
VITE_API_URL=https://api.i1off.nomorepartiessite.ru/api/afisha
VITE_CDN_URL=https://api.i1off.nomorepartiessite.ru/content/afisha

PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_PORT=8080
OWNER=GitUser

PORT=3000
NODE_ENV=production
LOGGER_FORMAT=tskv
DEBUG=*